* {
    margin: 0;
    box-sizing: border-box;
}
  
html {
    height: 100%;
    width: 100%;
}
  
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff9f0;
}
  
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    background-color: #dbccb5;
    position: relative;
    text-align: center;
}

#Salutations {
    margin-top: 100px;
    margin-left: 10px;
    font-size: larger;
}

#OrderDetails {
    margin-left: 10px;
}

#G1, #G2, #G3, #G4, #G5 {
    margin-left: 135px;
}

#Time {
    margin-left: 10px;
}

#Greeting {
    margin-top: 150px;
    text-align: center;
    font-size: larger;
}

footer {
    background-color: #dbccb5;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: auto; 
}

.footer-year, .creator-names {
    margin-bottom: 5px;
}
