/* This section is the css for the Header */
* {
    margin: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
    width: 100%;
  }
  main { flex: 1; }
  
  body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff9f0;
  }
  
  /* This Section is the CSS for the Header */
  header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 10px 20px;
      background-color: #dbccb5;
      position: relative;
      text-align: center;
  }

  #Salutations{
    margin-top: 100px;
    margin-left: 10px;
    font-size: larger;
  }

  #OrderDetails{
    margin-left: 10px;

  }

  #G1{
    margin-left: 135px;
  }
  #G2{
    margin-left: 135px;
  }
  #G3{
    margin-left: 135px;
  }
  #G4{
    margin-left: 135px;
  }
  #G5{
    margin-left: 135px;
  }

  #Time{
    margin-left: 10px;
  }


  #Greeting{
    margin-top: 150px;
    text-align: center;
    font-size: larger;
  }


  footer {
    display: block;
    text-align: center;
    padding: 10px 0;
    background-color: #dbccb5;
  }