* {
    margin: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    background-color: lightgreen;
    position: relative;
    text-align: center;
}

#store-header {
    display: inline-block;
    text-align: center;
}

#home_button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: lightgreen;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

#home_icon {
    width: 50px;
    height: 50px;
    object-fit: contain;
}


#cart-button-img {
    height: 50px;
    width: 50px;
    position: fixed;
    top: 10px;
    right: 10px;
}

button:not(.delete-button, .return-button, .payment-button) {
    margin: 20px;
    background-color: pink;
    border-style: none;
}

#Cart {
    padding: 10px;
}

.select-all{
    font-size:90%;
}

#ReturnButton {
    border: none;
    text-align: right;
    padding: 10px;
}

#PaymentButton {
    text-align: right;
    border: none;
}

.paymentbtn-container {
    text-align: right;
    padding: 10px;
}

.delivery-type {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    margin-right: 5px;
    gap: 10px;
}

#contact_information {
    padding-left: 55px;
}

#billing_information {
    padding-left: 55px;

}

.form-container {
    margin-top: 225px;
    margin-bottom: 25px;
    line-height: 2;
}

#Totals {
    margin-top: 30px;
    position: absolute;
    right: 0;
    line-height: 1.55;
    border-style: solid;
    border-width: thin;
    padding: 10px;
}

.item-total {
    font-size: 90%;
}

.tax-amount {
    font-size: 90%;
}

.shipping-cost {
    font-size: 90%;
}

.total-amount {
    font-weight: bold;
}

.large-input {
    width: 360px;
    text-align: center;
    height: 20px;
    padding: 10px;
    box-sizing: border-box;
}

.medium-input {
    text-align: center;
    width: 360px;
}

.small-input {
    text-align: center;
}

#department {
    display: inline-block;
    margin-left: 20px;
}

.department-img {
    display: block;
}