button:not(.delete-button, .return-button, .payment-button) {
    margin: 20px;
    background-color: pink;
    border-style: none;
}

#ReturnButton {
    border: none;
    text-align: right;
    padding: 10px;
}

#PaymentButton {
    text-align: right;
    border: none;
}

.paymentbtn-container {
        text-align: right;
        padding: 10px;
}

.delivery-type {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    gap: 10px; 
}

.line-break{
    margin-top: 260px;
}
.form-container{
    margin-top: 0px;
}

#Totals {
    margin-top: 30px;
    position: absolute;
    right: 0;
    border-style: solid;
    border-width: thin;
    padding: 10px
}

.large-input {
    width: 360px;
    text-align: center;
    height: 20px;
    padding: 10px;
    box-sizing: border-box;
}

.medium-input {
    text-align: center;
    width: 360px;
}

.small-input {
    text-align: center;
}


#home-button-img {
    text-align: left;
    height: 50px;
    width: 50px;
}

#store-logo {
    height: 100px;
    width: 100px;
    margin-right: 10px;
}

h1 {
    display: inline block;
    text-align: center;
}

#store-title {
    display: flex;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    margin: 0;
}

#store-header {
    display: inline-block;
}

#department {
    display: inline-block;
    margin-left: 20px;
}

header {
    background-color: pink;
    justify-content: space-between;
    align-items: center;
}

.department-img {
    display: block;
}